@import "../../scss/variables";
@import "../../scss/mixins.scss";

.aboutme__container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.aboutme__container--text {
    width: 17rem;
    display: flex;
    flex-direction: column;
}

.img__star {
    width: 40px;
}

.img__star--left {
    display: flex;
    align-self: left;
}

.img__star--right {
    display: flex;
    align-self: end;
}

.bg__text--neon {
    background-color: $primary-color-yellow-neon-60;
    padding: 0 0.5rem;
    font-size: $font-size-h2;
}


.h3__section {
    width: 14rem;
    color: $primary-color-blue-dark-60;
    font-size: $font-size-h3;
    align-self: center;
}

