@import "../../scss/variables";


.maincontainer {
    position: relative;
    width: 19rem;
    height: 20rem;
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.thecard:hover {
    transform: scale(1.3) rotateY(180deg);
}

.thecard:active {
    transform: scale(1.3) rotateY(180deg);
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}