@import "../../scss/variables";
/*Tienes que tener en cuenta que tienes que importar los archivos que vayas a usar*/

/*Estilos de los botones */



.btn__open {
    background-color: var(--mandarin_orange-50);
    color: var(--mandarin_orange-900);

    font-family: $font-primary;
    
    padding: 8px 24px;
    border-radius: 24px;
    
}
