@import "../../scss/variables";

video {
  z-index: -50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg__video--overlay {
  z-index: -50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #FBE6C3, $primary-color-blue-dark-60), url(06_1596083776.png);
  opacity: 0.5;
  background-blend-mode: multiply, normal;
}
