
.main--circle {
    width: 100vw;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img--eclipse {
   padding: 2.5rem;
    width: 35%;
    display: flex;
    object-position: center;
  }
  
  .img--eclipse:hover {
    display: flex;
    justify-content: center;
    transform: scale(1.01) rotate(90deg);
    transition: 1s ease;
    
  }

  .img--eclipse:not(:hover) {

    transform: scale(1.01) rotate(-0deg);
    transition: 1s ease;
    
  }

  .img--eclipse:active {
    transform: scale(1.01) rotate(360deg);
    transition: 0.5s ease-in-out;
  }