@import "../../scss/variables";

.work__container--main  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.work__container {
    max-width: 80%;
    min-width: 40%;
    height: 10rem;
    width: 35rem;

    padding: 1rem;
    display: flex;
    flex-direction: row;
    border-radius: 20px;

    flex-grow: 1;

    font-size: $font-size-h4;
    color: $primary-color-blue-dark-60;

    background-color: $color-white-sand-40;

    &--l1 {
        display: flex;
        width: 50%;
    }

    &--l2 {
        display: flex;
        width: 80%;
        background-color: $color-yellow-neon-80;
    }

    &--r1 {
        background-color: $color-blue-light-80;
    }

    &:hover {
        filter: contrast(1.1);    }

}

.work__container video {
    display: none; /* Ocultar el video inicialmente */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__container:hover video {
    display: block;
    border-radius: 20px;
    filter: contrast(0.7);
}

.work__container:active {
    filter: contrast(1.2);
}

.work__container--left {
    display: flex;
    gap: 1rem;
}
.work__container--right {
    display: flex;
    gap: 1rem;
}

.work--left {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
    font-size: $font-size-h3;
    gap: 0.8rem;
}

.work--right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: $font-size-h3;
}

.work--link {
    color: $primary-color-blue-dark-60;
    text-decoration: underline;
    font-size: $font-size-h5;

    &:hover {
        color: $color-yellow-neon-80;
    }
}

.arrow-outside {
    width: 3%;
}


.work--type {
    border-radius: 20px;
    border: 1.5px solid $primary-color-blue-dark-60;
    padding: 2px 5px;
    width: fit-content;
    font-size: $font-size-h4;
}

.work--title {
    font-size: $font-size-h4;
}