@import "../scss/variables";
@import "../scss/mixins.scss";

.body {
  background-color: $primary-color-white-chalk-60;
}


.animation__container--star {
  width: 100vw;
  height: 20%;

  display: flex;
  justify-content: center;
}

.animation--star {
  width: auto;
  height: 20%;

  display: flex;
  justify-content: center;
}

.text--vertical {
  padding-left: 10rem;
  writing-mode: vertical-rl;
  color: $primary-color-yellow-neon-60;

  height: calc(100vh - 20rem);

  display: flex;
  justify-content: flex-end;
}

.text__main__container--vertical {
padding-top: 5rem;

}


.h3, .text {
  font-size: $font-size-h3;
  padding-left: 10rem;
  color: $primary-color-yellow-neon-60;
}


/*Section Component */
#rem {
  padding-top: 10rem !important;
  }


/*SkillsRoundText Component */
.grid--30 {
  width: 30%;
  display: flex;
  justify-content: flex-end;

}

/*SkillsRoundText Component */

.grid--100 {
  position: relative;
  width: 100%;
  padding-right: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


/*LLine dision Component */
.section__division {
  position: relative;
}


/*Cards section*/
.cards {
  height: 50%;
  padding: 5rem 10rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}