@import "../scss/variables";
@import "../scss/mixins.scss";

.body {
  background-color: $primary-color-white-chalk-60;
}


.animation__container--star {
  width: 100vw;
  height: 20%;

  display: flex;
  justify-content: center;
}

.animation--star {
  width: auto;
  height: 20%;

  display: flex;
  justify-content: center;
  mix-blend-mode:color-dodge;
}

.text--vertical {
  padding-left: 10rem;
  writing-mode: vertical-rl;
  color: $primary-color-yellow-neon-60;

  height: calc(100vh - 20rem);

  display: flex;
  justify-content: flex-end;
}

.text__main__container--vertical {
padding-top: 5rem;

}


.h3, .text {
  font-size: $font-size-h3;
  padding-left: 10rem;
  color: $primary-color-yellow-neon-60;
}


/*Section Component */
#rem {
  padding-top: 10rem !important;
  }


/*SkillsRoundText Component */
.grid--30 {
  width: 30%;
  display: flex;
  justify-content: flex-end;

}

/*SkillsRoundText Component */

.grid--100 {
  position: relative;
  width: 100%;
  padding-right: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


/*LLine dision Component */
.section__division {
  position: relative;
}


/*Cards section*/

.cards__container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.cards {
  height: 50%;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.stars__container {
  position: absolute;
  padding: 0 10rem;
  width: 100%;
  height: 17rem;
  display: flex;
  flex-direction: column;
}

.img__star--center {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 0rem;
    height: 17rem;
}

.card__titles {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.color--lighter {
  background-color: $primary-color-blue-light-60;
}