@import "../scss/variables";
@import "../scss/mixins.scss";

.body {
  background-color: $primary-color-white-chalk-60;
}

.main__video {
  z-index: -5;
  position: absolute;
  width: 100vw;
  height: auto;
  left: 0px;
  top: 0px;

  background: linear-gradient(0deg, #b3883c, #FBE6C3);
  background-blend-mode: multiply, normal;
}

.section__topbar__nav {
padding-top: $margin-2-5;

display: flex;
flex-direction: row;
align-items: center;

position: absolute;
}

.main--eclipse {
  width: 100vw;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eclipse {
 width: 40%;
}
/* .section__title {
    @include section__title($primary-color-blue-light-60);
  } */
