@import '../../scss/variables';

.contact__text {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;


}
.contact__text--title {
    font-size: $font-size-h2;
}

.contact__text--subtitle {
    font-size: $font-size-h3;
}

form {
    width: 35rem;
    gap: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: $font-size-h3;

}
.max-width {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 35rem;
    display: flex;
    border: 2px solid $primary-color-blue-dark-60;
    border-radius: 20px;
    padding: 0.5rem;
}

input:focus {
    border: 3px solid $color-blue-light-70;
}

textarea:focus {
    border-color: $color-blue-light-70;
} 

textarea {
    width: 35rem;
    border: 2px solid $primary-color-blue-dark-60;
    border-radius: 20px;
    padding: 0.5rem;
}

input::placeholder {
    font-size: $font-size-h3;
    color: $color-blue-dark-80;
}

textarea::placeholder {
    font-size: $font-size-h3;
    color: $color-blue-dark-80;
}

[type="submit"] {
    width: 25rem;
    font-size: $font-size-h3;
    display: flex;
    justify-content: center;
    background-color: $color-blue-light-80;
    border-radius: 20px;

    align-items: center;
    padding: 0.2rem;

    font-size: $font-size-h3;
 color: $primary-color-blue-dark-60;
 font-family:'Nanum Gothic Coding', monospace;
}

[type="submit"]:hover {
    background-color: $color-blue-light-70;
}