@import "../../scss/variables";

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.img__star--rounded {
    position: absolute;
    width: 15rem;
    height: 15rem;
    background-image: url(../../../public/skillsroundstar.svg);
    background-size: cover;
    animation: rotateText 20s linear infinite;
}

@keyframes rotateText {
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

.text--rounded span {
    position: absolute;
    left: 1.2em;
    transform-origin: 0 100;
}