@import '/src/scss/_variables.scss';


.section__container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 0 10rem;

    position: absolute;
}
.section--lines {
    width: 5rem;
}

.left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.section--lines--right {
    display: flex;
    align-items: flex-end;
}