@import "./scss/global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 19px; /* Tamaño de fuente raíz */
  color: $primary-color-blue-dark-60;
  font-family: $font-primary;
}

button, 
input, 
textarea {
  font-size: $font-size-default;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
    

  font-size: $font-size-h1; 
}

$font-sizes: ( /*lista de variables*/
    h1: $font-size-h1,
    h2: $font-size-h2,
    h3: $font-size-h3,
    h4: $font-size-h4,
    h5: $font-size-h5,
    h6: $font-size-h6
);

@each $heading, $font-size in $font-sizes { /*bucle para la lista de headings*/
  #{$heading} {
    font-size: $font-size;
  }
}
