@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

@font-face {
    font-family: 'Nanum Gothic Coding', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
}

/*========== FONT VARIABLE SASS ==========*/
$font-primary: 'Nanum Gothic Coding', monospace;
$font-secundary: 'Roboto', sans-serif;


/*========== FONT SIZE VARIABLE SASS ==========*/
$font-size-xsmall: 0.9rem;
$font-size-small: 0.95rem;
$font-size-default: 1rem;
$font-size-big: 1.05rem;
$font-size-xbig: 1.1rem;


$font-size-h1: $font-size-xbig;
$font-size-h2: $font-size-big;
$font-size-h3: $font-size-default;
$font-size-h4: $font-size-small;
$font-size-h5: $font-size-xsmall;
$font-size-h6: $font-size-xsmall;



