@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
}

// Creación de variables de tipografía

$font-size-small: 14px;
$font-size-default: 50px;
$font-size-big: 24px;



$font-size-h1: $font-size-big;
$font-size-h6: $font-size-big;