 /*========== COLOR VARIABLE SASS ==========*/
$color-yellow-neon-80: #F1FA75;
$color-yellow-neon-70: #F2FF5C;
$primary-color-yellow-neon-60: #F0FF44;
$color-yellow-neon-40: #EEFF29;
$color-yellow-neon-20: #ECFF0F;

$color-blue-dark-80: #4D94FF;
$color-blue-dark-70: #66A3FF;
$primary-color-blue-dark-60: #0075FF;
$color-blue-dark-40: #006AE5;
$color-blue-dark-20: #005ECC;

$color-blue-light-80: #CCE0FF;
$color-blue-light-70: #B2D1FF;
$primary-color-blue-light-60: #80B2FF;
$color-blue-light-40: #66A3FF;
$color-blue-light-20: #4D94FF;

$color-white-chalk-80: #E5DCCC;
$color-white-chalk-70: #EEE8DD;
$primary-color-white-chalk-60: #F7F4EF;
$color-white-chalk-40: #FCFAF8;
$color-white-chalk-20: #FFFFFF;

$color-white-sand-80: #E3D2BA;
$color-white-sand-70: #EADECC;
$primary-color-white-sand-60: #F2EADF;
$color-white-sand-40: #F9F5F0;
$color-white-sand-20: #FFFFFF;





