/*Color variables*/
:root {
    --mandarin_orange-50: #FDEDE7;
    --mandarin_orange-100:#FCDCCF;
    --mandarin_orange-200:#F9B99F;
    --mandarin_orange-300:#F7A787;
    --mandarin_orange-400:#F6956F;
    --mandarin_orange-500:#F3733F;
    --mandarin_orange-600:#F04F0F;
    --mandarin_orange-700:#C03F0C;
    --mandarin_orange-800:#902F09;
    --mandarin_orange-900:#602006;
}