@import "../scss/variables";

/* SECTIONS */

@mixin section__title($color) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10rem 10rem 0rem ;

    width: 100%;

    cursor: pointer;
  
    &:hover {
      opacity: 0.8;
    }
}


  .section__title {
    @include section__title($primary-color-yellow-neon-60);
  }