@import "../scss/variables";

/* SECTIONS */

@mixin section__title($color) {
  font-size: $font-size-h3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem 10rem 0rem ;

    width: 100%;

    cursor: pointer;
  
    &:hover {
      color: $color-blue-dark-80;
    }
}


  .section__title {
    @include section__title($primary-color-yellow-neon-60);
  }