@import "../scss/variables";

/* SECTIONS */

@mixin section__title($color) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem 10rem;
    gap: 0.56rem;

    position: absolute;
    width: 100vw;
    height: 100%;

    cursor: pointer;
  
    &:hover {
      opacity: 0.8;
    }
}


  .section__title {
    @include section__title($primary-color-blue-light-60);
  }